body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 300px;
    background-color: #1f2937;
}

.header div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header-links, .hero-text p  {
    font-size: 18px;
    color: #e5e7eb;
}

div p {
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
background-color: #1f2937;
display: flex;
justify-content: space-between;
padding: 100px 300px;
gap: 30px;
}

h1 {
 font-size: 48px;
 color: #f9faf8;
 font-weight: 900;   
 margin: 0;
}

.hero-text, .hero-image {
    width: 50%;
}

.hero-image {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #fff;
    margin: 10px;
    margin-left: 0px;
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
    font-weight:700
}

h2 {
    text-align: center;
    margin: 25px 0;
}


.info-images {
    display: flex;
    justify-content: space-around;
    padding: 10px 300px 100px;
}

.info-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 5px;
}

.image {
    flex-grow: 0;
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.info-image p {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 75px 400px;
    display: flex;
    flex-direction: column;
}

.quotation {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    color: #1f2937;
}

.citation {
    padding: 15px;
    text-align: end;
    font-weight: 700;
}